<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 
 	<typeAliases>
 		<typeAlias type="com.f.s5.board.BoardDTO" alias="BoardDTO"/>
 		<typeAlias type="com.f.s5.member.MemberDTO" alias="MemberDTO"/>
 		<typeAlias type="com.f.s5.movies.MoviesDTO" alias="MoviesDTO"/>
 		<typeAlias type="com.f.s5.theaters.TheatersDTO" alias="TheatersDTO"/>
 		<typeAlias type="com.f.s5.ticket.MothDTO" alias="MothDTO"/>
 		<typeAlias type="com.f.s5.ticket.TicketDTO" alias="TicketDTO"/>
 		<typeAlias type="java.lang.String" alias="String"/>
 	</typeAliases>
 
 </configuration>