<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.f.s5.member.MemberDAO">
  
  	<select id="getIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
      	SELECT ID FROM CGVMEMBER WHERE ID=#{id}
   	</select>
	
	<select id="getLogin" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM CGVMEMBER WHERE ID=#{id} AND PW=#{pw}
	</select>
	
	<insert id="setJoin" parameterType="MemberDTO">
		INSERT INTO CGVMEMBER VALUES(#{id}, #{pw}, #{name}, #{phone}, #{email}, #{birth})
	</insert>
	
	<delete id="setDelete" parameterType="MemberDTO">
		DELETE CGVMEMBER WHERE ID=#{id}
	</delete>
	
	<update id="setUpdate" parameterType="MemberDTO">
		UPDATE CGVMEMBER SET PW=#{pw}, PHONE=#{phone}, EMAIL=#{email}
	</update>
  </mapper>