<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.f.s5.ticket.TicketDAO">

	<select id="getMovieList" resultType="MoviesDTO">
      SELECT * FROM MOVIES
  	</select>

   	<select id="getMovieSelect" parameterType="MothDTO"
      resultType="MothDTO">
      SELECT DISTINCT THEATER, MOVIENAME FROM MOTH WHERE MOVIENAME=#{movieName}
  	</select>

   	<select id="getTheaterSelect" parameterType="MothDTO"
      resultType="MothDTO">
      SELECT WATCHDATE, THEATER, MOVIENAME FROM MOTH WHERE THEATER=#{theater} AND
      MOVIENAME=#{movieName}
   	</select>

   	<select id="getWatchDateSelect" parameterType="MothDTO"
      resultType="TheatersDTO">
      SELECT * FROM THEATERS WHERE THEATER=#{theater}
   	</select>

   	<select id="getMothSelect" parameterType="MothDTO"
      resultType="MothDTO">
      SELECT * FROM MOTH WHERE MOVIENAME=#{movieName} AND THEATER=#{theater} AND
      WATCHDATE=#{watchDate}
   	</select>

   <insert id="setTicket" parameterType="TicketDTO">
      INSERT INTO TICKET (ID, TICKETNUM, MOVIENAME, THEATER, WATCHDATE, TIMETABLE)
      VALUES (#{id}, TICKET_SEQ.NEXTVAL, #{movieName}, #{theater}, #{watchDate},
      #{timeTable})
   </insert>
   
   <select id="checkTicket" resultType="TicketDTO"
		parameterType="TicketDTO">
		SELECT SEAT FROM TICKET WHERE MOVIENAME=#{movieName} AND
		THEATER=#{theater}
		AND WATCHDATE=#{watchDate} AND
		TIMETABLE=#{timeTable}
	</select>
	
	<update id="updateInfo" parameterType="TicketDTO">
		UPDATE TICKET SET SEAT =
		#{seat} WHERE TICKETNUM = (SELECT MAX(TICKETNUM) FROM TICKET)
	</update>  



</mapper>