<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.f.s5.ticket.TicketDAO">

<select id="getMovieList" resultType="MoviesDTO">
	SELECT MOVIENAME FROM MOVIES
</select>

<select id="getMovieSelect" parameterType="MothDTO" resultType="MothDTO">
	SELECT DISTINCT THEATER FROM MOTH WHERE MOVIENAME=#{movieName}
</select>

<select id="getTheaterSelect" parameterType="MothDTO" resultType="MothDTO">
	SELECT WATCHDATE FROM MOTH WHERE THEATER=#{theater}
</select>

</mapper>